<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tyyar.tyyarfooddelivery"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".screens.MenuCategoriesActivity"/>
        <activity android:name=".screens.MenuCategoryItemsActivity"/>
        <activity
            android:name=".screens.CartActivity"
            android:label="@string/cart_activity_label"/>
        <activity
            android:name=".screens.OrderItemActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".screens.CheckoutActivity"
            android:label="@string/checkout_activity_label"/>
        <activity android:name=".screens.OrdersHistoryActivity"/>
        <activity android:name=".screens.AccountActivity"/>
        <activity android:name=".screens.SearchMerchantsActivity">
        </activity>
        <activity android:name=".screens.GAETestActivity">
        </activity>
    </application>

</manifest>